apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-resources-dev
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/techvishal1988/dot-net-CD.git
    targetRevision: HEAD
    path: environments/dev/cluster/ingress/
  destination: 
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    syncOptions:
    - CreateNamespace=true


    automated:
      selfHeal: true
      prune: true
